// ----------header---------------
@media (max-width: 923px) {
	.header-menu__item-3 {
		display: none;
	}
}
@media (max-width: 753px) {
	.header-menu__item-2 {
		display: none;
	}
}
@media (max-width: 610px) {
	.header-menu {
		&__item {
			display: none;
		}
		&__burger {
			display: block;
		}
		&__catalog {
			display: none;
		}
	}
}
// ----------header---------------

//section---------.head-----------
@media (max-width: 610px) {
	.head__company-subtitle {
		display: none;
	}
}
@media (max-width: 506px) {
	.welcome {
		margin-top: 20px;
	}
	.head {
		flex-direction: column;
	}
	.head__company-name {
		text-align: center;
	}
}
@media (max-width: 400px) {
	.head {
		padding: 30px 20px 0px 20px;
	}
	.head__company-name {
		margin-bottom: 25px;
	}
}
//section---------.head-----------

//section---------.welcome-----------
@media (max-width: 950px) {
	.welcome {
		flex-direction: column-reverse;
		&__slider {
			text-align: center;
		}
		&__slider-2 {
			padding: 0px;
		}
	}
}
@media (max-width: 950px) {
	.welcome {
		&__description {
			margin-top: 20px;
		}
	}
}
@media (max-width: 447px) {
	.welcome {
		&__order-description {
			font-size: 0.78rem;
		}
		&__arrow {
			right: -26px;
			top: -14px;
		}
		&__button {
			font-size: 1rem;
			padding: 0px 20px 50px 20px;
		}
	}
}
@media (max-width: 407px) {
	.welcome {
		&__tittle {
			text-align: center;
			font-size: 1.4rem;
		}
		&__subtittle {
			text-align: center;
			font-size: 1.1rem;
			margin-bottom: 12px;
		}
		&__item {
			font-size: 0.9rem;
			vertical-align: middle;
			img {
				width: 14px;
				height: 14px;
			}
		}
		&__order-description {
			line-height: 16px;
			text-align: center;
			font-size: 0.9rem;
			margin-top: 30px;
		}
		&__button {
			font-size: 0.8rem;
		}
	}
}
@media (max-width: 358px) {
	.welcome {
		&__tittle {
			text-align: center;
			font-size: 1.3rem;
		}
		&__subtittle {
			text-align: center;
			font-size: 0.95rem;
		}
		&__item {
			font-size: 0.79rem;
		}
	}
}
//section---------.welcome-----------

//section---------.order-design-----------
@media (max-width: 1060px) {
	.order-design {
		&__photo {
			margin-left: 20px;
		}
		&__description {
			margin-right: 4px;
		}
	}
}
@media (max-width: 840px) {
	.order-design {
		flex-direction: column;
		align-items: center;
		margin-top: 80px;
		&__photo {
			width: 80%;
			height: 100%;
			padding: 0 0 55% 0;
			margin: 0px;
		}
		&__description {
			min-height: unset;
			padding-top: 40px;
			width: 80%;
		}
		&__title {
			text-align: center;
			font-size: 2rem;
			font-weight: 700;
		}
		&__subtitle {
			text-align: center;
			font-size: 1.4rem;
			font-weight: 400;
		}
	}
}
@media (max-width: 683px) {
	.order-design {
		margin-top: 70px;
		&__description {
			padding-top: 30px;
		}
		&__title {
			font-size: 2rem;
			margin-top: 30px;
		}
		&__subtitle {
			line-height: 26px;
			font-size: 1.4rem;
			margin-top: 20px;
		}
		&__button {
			margin-top: 30px;
		}
	}
}
@media (max-width: 531px) {
	.order-design {
		margin-top: 60px;
		&__description {
			padding-top: 20px;
		}
		&__title {
			font-size: 1.5rem;
			margin-top: 30px;
		}
		&__subtitle {
			line-height: 26px;
			font-size: 1.1rem;
			margin-top: 20px;
		}
		&__button {
			margin-top: 30px;
			font-size: 0.9rem;
		}
	}
}
@media (max-width: 405px) {
	.order-design {
		margin-top: 50px;
		&__description {
			padding-top: 16px;
		}
		&__title {
			font-size: 1.3rem;
			margin-top: 30px;
		}
		&__subtitle {
			line-height: 20px;
			font-size: 1rem;
			margin-top: 10px;
		}
		&__button {
			margin-top: 30px;
			font-size: 0.7rem;
		}
	}
}
@media (max-width: 347px) {
	.order-design {
		margin-top: 40px;
		&__description {
			padding-top: 10px;
		}
		&__title {
			font-size: 1.1rem;
			margin-top: 30px;
		}
		&__subtitle {
			line-height: 16px;
			font-size: 0.8rem;
			margin-top: 10px;
		}
		&__button {
			margin-top: 20px;
			font-size: 0.66rem;
		}
	}
}
//section---------.order-design-----------

//section---------.styles-----------
@media (max-width: 777px) {
	.styles {
		margin-top: 90px;
		&__title {
			font-size: 1.8rem;
			font-weight: 700;
		}

		&__subtitle {
			font-size: 1.2rem;
			font-weight: 400;
			margin-top: 20px;
			letter-spacing: 1px;
		}
		&__row-1 {
			margin: 20px 20px 0px 20px;
		}
		&__button {
			margin-top: 30px;
		}
	}
	.row {
		flex-wrap: wrap;
		&__item {
			min-width: 220px;
		}
	}
}
@media (max-width: 673px) {
	.styles {
		&__button {
			margin-top: 20px;
		}
	}
}
@media (max-width: 470px) {
	.styles {
		&__button {
			margin-top: 6px;
		}
		&__subtitle {
			margin-top: 10px;
			letter-spacing: 1px;
		}
		&__title {
			font-size: 1.6rem;
		}
	}
}
@media (max-width: 380px) {
	.styles {
		&__button {
			margin-top: 6px;
			button {
				font-size: 1rem;
				padding: 16px 14px;
			}
		}
		&__subtitle {
			margin-top: 10px;
			letter-spacing: 1px;
			font-size: 1.1rem;
		}
		&__title {
			font-size: 1.3rem;
		}
	}
}
//section---------.styles-----------

//section---------.popart-----------
@media (max-width: 858px) {
	.popart {
		display: none;
	}
}
//section---------.popart-----------

//section---------.calculator-----------
@media (max-width: 1060px) {
	.calculator {
		&__body {
			padding: 0px 50px 0px 0px;
			margin-left: 20px;
		}
		&__image {
			margin-right: 20px;
		}
		&__subtitle {
			font-size: 1.6rem;
		}
	}
}
@media (max-width: 768px) {
	.calculator {
		&__body {
			padding: 0px 0px 0px 0px;
			margin-left: 0px;
		}
		&__image {
			display: none;
		}
		&__subtitle {
			font-size: 1.3rem;
			margin: 20px 0px 60px 0px;
		}
		.body {
			&__subtitle {
				font-size: 1.1rem;
				letter-spacing: 1.2px;
				padding-bottom: 20px;
			}
			&__select {
				width: 80%;
			}
			&__promocode {
				width: 80%;
			}
			&__calc-price {
				p {
					width: 80%;
					font-size: 1rem;
				}
			}
			&__upload {
				width: 80%;
			}
			&__button {
				width: 80%;
				button {
					width: 100%;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.calculator {
		&__title {
			font-size: 1.6rem;
			font-weight: 700;
		}
		&__subtitle {
			font-size: 1.3rem;
			font-weight: 400;
			margin: 20px 0px 60px 0px;
		}
	}
}
@media (max-width: 530px) {
	.calculator {
		&__title {
			font-size: 1.3rem;
			font-weight: 700;
		}
		&__subtitle {
			font-size: 1rem;
			font-weight: 400;
			margin: 6px 0px 30px 0px;
		}
		.body {
			&__subtitle {
				font-size: 1.2rem;
			}
		}
	}
}
@media (max-width: 410px) {
	.calculator {
		&__title {
			font-size: 1.2rem;
			font-weight: 700;
		}
		&__subtitle {
			line-height: 18px;
			font-size: 0.9rem;
			font-weight: 400;
			padding: 0px 20px;
			margin: 14px 0px 30px 0px;
		}

		.body {
			&__subtitle {
				font-size: 1.1rem;
			}
			&__calc-price {
				p {
					font-size: 0.8rem;
				}
			}
		}
	}
}
@media (max-width: 372px) {
	.calculator {
		.body {
			&__upload {
				width: 80%;
				button {
					font-size: 1rem;
					padding: 14px 10px;
				}
				.upload-span {
					font-size: 0.9rem;
				}
				img {
					margin-right: 2px;
				}
			}
			&__select {
				font-size: 0.8rem;
			}
		}
	}
}
@media (max-width: 372px) {
	.calculator {
		.body {
			&__calc-price {
				p {
					font-size: 0.75rem;
				}
			}
		}
	}
}
//section---------.calculator-----------

//section---------.portfolio-----------
@media (max-width: 542px) {
	.portfolio {
		&__title {
			font-size: 1.15rem;
		}
		&__subtitle {
			margin-top: 20px;
			padding: 0px 20px;
			text-align: center;
			font-size: 1.5rem;
		}
	}
}
@media (max-width: 449px) {
	.portfolio {
		margin-top: 100px;
		&__images {
			gap: 0px;
			margin: 0px 10px;
		}
		&__buttons {
			margin: 30px 30px 16px 30px;
		}
		&__title {
			font-size: 1.24rem;
			font-weight: 700;
		}
		&__subtitle {
			margin-top: 10px;
			font-size: 1rem;
			font-weight: 40;
		}
	}
}
@media (max-width: 439px) {
	.portfolio {
		&__image {
			margin-bottom: 20px;
			min-height: 400px;
		}
	}
}
@media (max-width: 419px) {
	.portfolio {
		&__image {
			min-height: 350px;
		}
		&__buttons {
			margin: 20px 30px 16px 30px;
		}
	}
}
@media (max-width: 408px) {
	.portfolio {
		&__button {
			font-size: 0.8rem;
			min-width: 130px;
			padding: 16px 12px;
		}
		&__buttons {
			margin: 20px 20px 16px 10px;
		}
		&__title {
			font-size: 1.05rem;
		}
		&__subtitle {
			line-height: 22px;
		}
	}
}
//section---------.portfolio-----------

//section---------.best-present-----------
@media (max-width: 1112px) {
	.best-present {
		background: #f8e6fc;
		padding: 40px 0px;
		max-height: unset;
		&__body {
			position: unset;
		}
		&__title {
			padding: 0px;
			text-align: center;
		}
		&__subtitle {
			padding: 26px 0px 0px 0px;
			text-align: center;
		}
		&__description {
			margin: 0 auto;
			text-align: center;
			width: 80%;
			padding: 58px 0px 0px 0px;
		}
		&__items {
			padding: 64px 20px 10px 0px;
			width: 100%;
		}
	}
}
@media (max-width: 606px) {
	.best-present {
		&__title {
			padding: 0px 20px 0px 20px;
			font-size: 1.2rem;
		}
		&__subtitle {
			padding: 16px 20px 0px 20px;
			font-size: 1.6rem;
		}
		&__description {
			padding: 38px 0px 0px 0px;
		}
		&__items {
			flex-direction: column;
			align-items: center;
		}
	}
}
@media (max-width: 445px) {
	.best-present {
		&__title {
			padding: 0px 20px 0px 20px;
			font-size: 1.5rem;
			font-weight: 700;
		}
		&__subtitle {
			padding: 6px 20px 0px 20px;
			font-size: 1.1rem;
			font-weight: 400;
		}
		&__description {
			padding: 28px 0px 0px 0px;
			font-size: 0.8rem;
		}
	}
}
@media (max-width: 445px) {
	.best-present {
		padding: 40px 0px 30px 0px;
		&__title {
			font-size: 1.2rem;
		}
		&__subtitle {
			font-size: 1rem;
		}
	}
}
//section---------.best-present-----------

//section---------.advantages-----------

@media (max-width: 939px) {
	.advantages {
		&__items {
			margin-left: 100px;
		}
	}
}
@media (max-width: 838px) {
	.advantages {
		&__items {
			margin-left: 70px;
		}
	}
}
@media (max-width: 787px) {
	.advantages {
		&__items {
			margin-left: 40px;
		}
	}
}
@media (max-width: 699px) {
	.advantages {
		margin: 90px 0px 10px 0px;
		&__items {
			margin-left: 10px;
		}
	}
}
@media (max-width: 619px) {
	.advantages {
		margin: 70px 0px 0px 0px;
		align-items: center;
		&__items {
			margin: 0px;
		}
		&__title {
			font-size: 1.8rem;
			font-weight: 700;
		}

		&__subtitle {
			font-size: 1.2rem;
			font-weight: 400;
			padding-top: 10px;
		}
	}
}
@media (max-width: 400px) {
	.advantages {
		&__items {
			padding-right: 20px;
		}
		&__title {
			font-size: 1.6rem;
		}

		&__subtitle {
			font-size: 1rem;
		}
	}
}

//section---------.advantages-----------

//section---------.sizes-----------
@media (max-width: 853px) {
	.sizes {
		&__subtitle {
			font-size: 1.5rem;
			padding-top: 20px;
		}
		&__pictures {
			flex-wrap: wrap;
			.picture__image {
				img {
					align-items: center;
				}
			}
		}
	}
}
@media (max-width: 667px) {
	.sizes {
		&__subtitle {
			font-size: 1.24rem;
		}
		&__title {
			font-size: 1.1rem;
		}
	}
}
@media (max-width: 539px) {
	.sizes {
		&__subtitle {
			font-size: 1.1rem;
		}
		&__title {
			font-size: 1rem;
		}
	}
}
@media (max-width: 494px) {
	.sizes {
		background: linear-gradient(to right bottom, #a3daff, #b0dfff);
		padding-bottom: 50px;
		&__subtitle {
			font-size: 1rem;
			font-weight: 400;
		}
		&__title {
			font-size: 1.4rem;
			padding-top: 40px;
			font-weight: 700;
		}
		&__pictures {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	.hit-sales {
		margin-bottom: 50px;
	}
}
@media (max-width: 415px) {
	.sizes {
		&__subtitle {
			font-size: 0.85rem;
			padding: 0px 20px;
			text-align: center;
			line-height: 18px;
		}
		&__title {
			font-size: 1.1rem;
			padding-bottom: 20px;
		}
	}
}
//section---------.sizes-----------

//section---------.process-----------
@media (max-width: 995px) {
	.process {
		&__items {
			padding: 0px 20px 0px 0px;
			margin-right: 10px;
		}
		&__item {
			p {
				left: 10px;
				min-width: 300px;
			}
		}
	}
}
@media (max-width: 799px) {
	.process {
		margin-top: 30px;
		&__items {
			padding: 0px 20px 0px 40px;
			margin-right: 10px;
		}
		&__image-1 {
			padding-top: 18px;
			padding-left: 30px;
		}
		&__image-2 {
			padding-top: 18px;
			padding-left: 30px;
		}
		&__image-3 {
			padding-left: 36px;
		}
		&__image-4 {
			padding-top: 16px;
			padding-left: 30px;
		}
		&__image-5 {
			padding-top: 20px;
			padding-left: 30px;
		}
		&__image-6 {
			padding-left: 10px;
			padding-top: 6px;
		}
	}
}
@media (max-width: 709px) {
	.process {
		&__items {
			padding: 0px 20px 0px 40px;
			margin-right: 10px;
		}
		&__image-1 {
			padding-top: 18px;
			padding-left: 0px;
		}
		&__image-2 {
			padding-top: 18px;
			padding-left: 20px;
		}
		&__image-3 {
			padding-left: 6px;
		}
		&__image-4 {
			padding-top: 20px;
			padding-left: 20px;
		}
		&__image-5 {
			padding-top: 20px;
			padding-left: 0px;
		}
		&__image-6 {
			padding-left: 0px;
		}
	}
}
@media (max-width: 579px) {
	.process {
		align-items: center;
		margin-top: 60px;
		&__title {
			font-size: 1.5rem;
			font-weight: 700;
		}

		&__subtitle {
			padding-top: 10px;
			font-size: 1.2rem;
			font-weight: 400;
		}
		&__items {
			padding: 0px 20px 0px 40px;
			margin-top: 20px;
			margin-right: 10px;
		}
		&__item {
			img {
				left: 10px;
			}
			p {
				left: -28px;
				min-width: 300px;
			}
		}
		&__image-1 {
			padding-top: 18px;
			padding-left: 16px;
		}
		&__image-2 {
			padding-top: 18px;
			padding-left: 20px;
		}
		&__image-3 {
			padding-left: 20px;
		}
		&__image-4 {
			padding-top: 20px;
			padding-left: 20px;
		}
		&__image-5 {
			padding-top: 20px;
			padding-left: 20px;
		}
		&__image-6 {
			padding-left: 0px;
		}
	}
}
@media (max-width: 441px) {
	.process {
		&__title {
			padding: 0px 20px;
			font-size: 1.2rem;
		}

		&__subtitle {
			padding: 0px 20px;
			font-size: 1rem;
		}
	}
}
//section---------.process-----------

//section---------.services-----------
@media (max-width: 940px) {
	.services {
		display: none;
	}
}

//section---------.services-----------

//section---------.customers-----------
@media (max-width: 1045px) {
	.customers {
		&__body {
			justify-content: center;
			margin-left: 10px;
		}
		&__text {
			display: none;
		}
		&__feedback {
			font-size: 1.3rem;
		}
		&__image {
			height: 250px;
		}
		&__button {
			top: 240px;
		}
	}
}
@media (max-width: 845px) {
	.customers {
		&__feedback {
			font-size: 1.1rem;
		}
		&__image {
			height: 200px;
		}
		&__button {
			top: 240px;
			left: 140%;
		}
	}
}
@media (max-width: 677px) {
	.customers {
		&__item {
			padding: 80px 50px 140px 50px;
		}
		&__feedback {
			font-size: 0.9rem;
		}
		&__image {
			height: 200px;
		}
		&__button {
			top: 220px;
			left: 140%;
		}
		&__name {
			span {
				font-size: 0.9rem;
			}
			font-size: 0.9rem;
		}
	}
}
@media (max-width: 564px) {
	.customers {
		&__item {
			padding: 60px 20px 120px 20px;
		}
		&__feedback {
			font-size: 0.9rem;
			margin-bottom: 20px;
		}
		&__image {
			height: 160px;
		}
		&__button {
			top: 190px;
			left: 140%;
			button {
				font-size: 0.7rem;
				padding: 10px 0px 10px 10px;
				min-width: unset;
				width: 180px;
			}
		}
	}
}
@media (max-width: 396px) {
	.customers {
		&__item {
			padding: 60px 10px 120px 20px;
		}
		&__feedback {
			font-size: 0.8rem;
			line-height: 20px;
		}
		&__image {
			height: 130px;
		}
		&__button {
			top: 160px;
			left: 140%;
		}
		&__name {
			span {
				font-size: 0.8rem;
				line-height: 20px;
			}
			font-size: 0.8rem;
			line-height: 20px;
		}
	}
}

//section---------.customers-----------

//section---------.questions-----------
@media (max-width: 816px) {
	.questions {
		margin-top: 70px;
		padding: 0px 20px;
		&__subtitle {
			margin-top: 30px;
		}
		&__items {
			margin-top: 80px;
		}
	}
}
@media (max-width: 632px) {
	.questions {
		&__title {
			font-size: 1.7rem;
			font-weight: 700;
		}
		&__subtitle {
			font-size: 1.1rem;
			font-weight: 400;
		}
		&__items {
			margin-top: 60px;
		}
		&__question {
			font-size: 1.1rem;
		}
		&__answer {
			padding: 30px;
			p {
				font-size: 0.8rem;
			}
		}
	}
}
@media (max-width: 522px) {
	.questions {
		margin-top: 40px;
		&__title {
			font-size: 1.3rem;
		}
		&__subtitle {
			font-size: 0.9rem;
			margin-top: 10px;
		}
		&__items {
			margin-top: 30px;
		}
		&__question {
			font-size: 0.9rem;
		}
		&__answer {
			padding: 30px;
			p {
				font-size: 0.7rem;
			}
		}
	}
}
@media (max-width: 406px) {
	.questions {
		margin-top: 40px;
		&__title {
			font-size: 1rem;
		}
		&__subtitle {
			font-size: 0.8rem;
			margin-top: 0px;
		}
		&__items {
			margin-top: 20px;
		}
		&__question {
			font-size: 0.7rem;
		}
		&__answer {
			padding: 30px;
			p {
				font-size: 0.6rem;
			}
		}
	}
}
//section---------.questions-----------

//section---------.design-----------
@media (max-width: 946px) {
	.design {
		padding: 80px 20px;
	}
}
@media (max-width: 823px) {
	.design {
		padding: 40px 20px 60px 20px;
		flex-direction: column;
		align-items: center;
		&__body {
			margin-left: 0px;
		}
		&__image {
			width: 50%;
			margin-right: 40px;
		}
		&__title {
			font-size: 1.7rem;
			font-weight: 700;
		}
		&__subtitle {
			font-size: 1.3rem;
			font-weight: 400;
			padding-top: 10px;
		}
		&__button {
			padding-top: 30px;
		}
	}
}
@media (max-width: 664px) {
	.design {
		&__image {
			width: 60%;
		}
		&__title {
			font-size: 1.5rem;
			padding-top: 50px;
		}
		&__subtitle {
			font-size: 1.1rem;
			padding-top: 20px;
			line-height: 20px;
		}
		&__button {
			padding-top: 30px;
		}
	}
}
@media (max-width: 461px) {
	.design {
		padding: 40px 20px 40px 20px;
		&__image {
			width: 70%;
			margin-right: 30px;
		}
		&__title {
			font-size: 1.3rem;
			padding-top: 30px;
		}
		&__subtitle {
			font-size: 1rem;
			padding-top: 20px;
			line-height: 20px;
		}
		&__button {
			padding-top: 30px;
			button {
				font-size: 0.8rem;
			}
		}
	}
}
@media (max-width: 349px) {
	.design {
		&__image {
			width: 75%;
			margin-right: 20px;
		}
		&__title {
			font-size: 1.2rem;
			padding-top: 30px;
		}
		&__subtitle {
			font-size: 0.95rem;
			padding-top: 10px;
			line-height: 20px;
		}
		&__button {
			padding-top: 30px;
			button {
				font-size: 0.76rem;
			}
		}
	}
}
//section---------.design-----------

//section---------.consultation-----------
@media (max-width: 826px) {
	.consultation {
		padding: 40px 40px;
		&__subtitle {
			padding-top: 10px;
			margin-bottom: 60px;
		}
	}
}
@media (max-width: 772px) {
	.consultation {
		&__inputs {
			flex-direction: column;
		}
		&__input-small {
			width: 100%;
			margin-bottom: 20px;
		}
		&__input-big {
			margin-top: 0px;
		}
		&__title {
			font-size: 1.6rem;
			font-weight: 700;
		}
		&__subtitle {
			font-size: 1.3rem;
			font-weight: 400;
			margin-bottom: 40px;
		}
	}
}
@media (max-width: 532px) {
	.consultation {
		padding: 40px 40px;
		&__title {
			font-size: 1.3rem;
		}
		&__subtitle {
			font-size: 1rem;
			margin-bottom: 30px;
		}
		&__button {
			margin-top: 40px;
			padding-bottom: 10px;
		}
		input {
			padding: 14px 28px;
		}
	}
}
@media (max-width: 402px) {
	.consultation {
		padding: 40px 20px;
		&__title {
			font-size: 1.1rem;
		}
		&__subtitle {
			font-size: 0.8rem;
			margin-bottom: 30px;
			padding-top: 16px;
			line-height: 16px;
		}
		&__button {
			margin-top: 40px;
			padding-bottom: 10px;
		}

		&__input-small {
			margin-bottom: 10px;
		}
		input {
			font-size: 0.78rem;
			padding: 12px 26px;
		}
	}
}
@media (max-width: 402px) {
	.consultation {
		&__button {
			button {
				font-size: 0.7rem;
				padding: 12px 20px;
			}
		}
	}
}

//section---------.consultation-----------

//-------------footer---------------
@media (max-width: 1054px) {
	footer {
		padding: 60px 40px 60px 40px;
	}
	.footer {
		flex-direction: column;
		&__body {
			display: none;
		}
		&__all-day {
			display: none;
		}
		&__contacts {
			text-align: center;
		}
		.footer-mail {
			border: none;
		}
	}
}
@media (max-width: 463px) {
	.footer {
		.contacts-big {
			font-size: 1.51rem;
		}
		.contacts-small {
			font-size: 1.0857rem;
		}
		.footer-mail {
			font-size: 1.1rem;
		}
	}
}
@media (max-width: 415px) {
	.footer {
		.contacts-big {
			font-size: 1.31rem;
		}
		.contacts-small {
			font-size: 0.99rem;
		}
		.footer-mail {
			font-size: 0.9rem;
		}
	}
}
@media (max-width: 382px) {
	.footer {
		.contacts-big {
			font-size: 0.86rem;
		}
		.contacts-small {
			font-size: 0.8rem;
		}
		.footer-mail {
			font-size: 0.7rem;
		}
	}
}

//-------------footer---------------

//-------------.popup-design---------------
@media (max-height: 650px) {
	.popup-design {
		.popup__input {
			padding: 14px 24px;
		}
		.popup__button {
			margin-top: 20px;
			button {
				padding: 14px 30px;
			}
		}
		.popup__title {
			padding-top: 0px;
		}
		.popup__input {
			&:first-child {
				margin-top: 26px;
			}
		}
		&__upload {
			padding-top: 20px;
			button {
				padding: 12px 30px;
			}
		}
	}
}
@media (max-width: 361px) {
	.popup-design {
		.popup__body {
			padding: 30px 30px 40px 30px;
		}
		.popup__input {
			padding: 14px 12px;
		}
		.popup__button {
			button {
				padding: 14px 20px;
				font-size: 0.9rem;
			}
		}
		&__upload {
			button {
				padding: 12px 12px;
				font-size: 1rem;
			}
		}
	}
}
//-------------.popup-design---------------

//-------------.popup-consultation---------------
@media (max-width: 359px) {
	.popup-consultation {
		.popup__input {
			padding: 18px 26px;
		}
		.popup__body {
			padding: 30px 20px 40px 30px;
		}
		.popup__title {
			font-size: 1.1rem;
		}
	}
}
//-------------.popup-consultation---------------

//-------------.burger-list---------------
@media (max-width: 554px) {
	.header-menu {
		.burger-list {
			width: 100%;
		}
	}
}

//-------------.burger-list---------------
